* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -225px 0 0 -225px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #b9b9b9;
}
